
.project-header{
    margin-top: 100px;
    text-align: center;
}

.project-header h1{
    line-height: 20%;
    font-size: 60px;
}

.timeline{
    width: auto;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.timeline ul li{
    position: relative;
    list-style: none;
    width: 20px;
    height: 20px;
    background: #777;
    margin: 0 80px;
    border-radius: 50%;
    transition: 0.5s;
    cursor: pointer;
    border-bottom:1px solid blue;
}

/* .timeline ul li:hover{
    background: #86ff3b;
    box-shadow: 0 0 0 4px #333,
                0 0 0 6px #86ff3b;
    
} */
.timeline ul li .content{
    position: absolute;
    bottom: 55;
    width: 200px;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    transform: translateX(-50%)translateY(-50px);

}

ul li:hover .content{
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%)translateY(0px);

}

.project-header p{
    color:darkgray;
    font-size: 30px;
}

.project-container{
    max-width: 800px;
    margin: 0 auto;
}

.content-con{
    display: flex;
    justify-content: space-between;
}

.content-l img{
    margin-top: 40px;
    width: 100%;
    border-radius: 10px;
}

.content-r{
    margin-top: 40px;
    width: 400px;
}
.content-r h2{
    margin-left: 40px;
    font-size: 60;
    width: 100%;
    border-radius: 10px;
}

.content-r p{
    margin-left: 40px;
    width: 100%;
    border-radius: 10px;
}

.timeline ul li h2{
    line-height: 3%;
}